.login-container {
  background: url('../../assets/bg.svg');
  background-color: black;
  }
  
  .login-content {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .login-content > img {
    width: 200px;
    object-fit: contain;
    margin: 20px;
  }
  

  